### Recommend a bestseller when the information is not enough

In [ ]:
# Created on Sep 2021
# author: 임일
# modifier : KatieMinjoo

In [1]:
import pandas as pd

In [2]:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']

In [3]:
users = pd.read_csv('./u.user', sep='|', names=u_cols, encoding='latin-1')

In [4]:
users = users.set_index('user_id')

In [5]:
users.head()

         age sex  occupation zip_code
user_id
1         24   M  technician    85711
2         53   F       other    94043
3         23   M      writer    32067
4         24   M  technician    43537
5         33   F       other    15213

In [6]:
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']

In [7]:
ratings = pd.read_csv('./u.data', sep='\t', names=r_cols, encoding='latin-1')

In [8]:
ratings = ratings.set_index('user_id')
ratings.head()

         movie_id  rating  timestamp
user_id
196           242       3  881250949
186           302       3  891717742
22            377       1  878887116
244            51       2  880606923
166           346       1  886397596

In [9]:
i_cols = ['movie_id', 'title', 'release date', 'video release date', 'IMDB URL', 
          'unknown', 'Action', 'Adventure', 'Animation', 'Children\'s', 'Comedy', 
          'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 
          'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
          
movies = pd.read_csv('./u.item', sep='|', names = i_cols, encoding='latin-1')
movies.head()

,movie_id,title,release date,video release date,IMDB URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [10]:
# Best-seller recommender

In [11]:
import numpy as np

In [12]:
# Metric to calculate the performance of a model
def RMSE(y_true, y_pred):
    import numpy as np
    return np.sqrt(np.mean((np.array(y_true) - np.array(y_pred))**2))

In [13]:
def recom_movie1(n_items=5):
    movie_sort = movie_mean.sort_values(ascending=False)[:n_items]
    recom_movies = movies.loc[movie_sort.index]
    recommendations = recom_movies['title']
    return recommendations

In [14]:
def recom_movie2(n_items=5):
    return movies.loc[movie_mean.sort_values(ascending=False)[:n_items].index]['title']

In [31]:
# rating mean for every movie_id & sort from best to worst & selecct top n
movie_mean = ratings.groupby(['movie_id'])['rating'].mean()
recom_movie1(10)

movie_id
814                                   One Fine Day (1996)
1599                                  Guantanamera (1994)
1201          Maybe, Maybe Not (Bewegte Mann, Der) (1994)
1122                    Last Time I Saw Paris, The (1954)
1653                         Chairman of the Board (1998)
1293                     Ayn Rand: A Sense of Life (1997)
1500    Prisoner of the Mountains (Kavkazsky Plennik) ...
1189                              That Old Feeling (1997)
1536                                          Cosi (1996)
1467                                     Cure, The (1995)
Name: title, dtype: object

In [32]:
rmse = []
# from every user who has rated any kind of movie, their rating for the movie becomes y_true
# the rating mean for every movie_id becomes y_pred
# and we are going to calculate how much those two rating values about the movie is close to each other
# (which means how much the average ratings of the movie represents the whole users' tastes.)
for user in set(ratings.index):
    y_true = ratings.loc[user][['movie_id', 'rating']]
    y_pred = movie_mean[ratings.loc[user]['movie_id']]
    accuracy = RMSE(y_true['rating'], y_pred)
    rmse.append(accuracy)
print(np.mean(rmse))

0.996007224010567